@model ASPDOTNETIIS.Models.Pet

@{
    ViewBag.Title = "CreateFormEmpty";
}

<h2>CreateFormEmpty</h2>

<form action="/Home/Create" method="post">
    <label>Name</label><br />
    <input type="text" name="name" value="" size="15" /><br />
    <label>Owner</label><br />
    <input type="text" name="owner" value="" size="15" /><br />
    <label>Age</label><br />
    <input type="text" name="age" value="" size="15" /><br />
    <label>Password</label><br />
    <input type="password" name="password" value="" size="15" /><br />
    <input type="submit" name="submit" />
</form>
