@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<style>
    iframe {
        display: block;
        margin: 0 auto;
    }

    h3 {
        text-align: center;

    }
</style>

<h2>@ViewData["Title"]</h2>
<h3>The History Of Arsenal</h3>



<iframe width="760" height="415" src="https://www.youtube.com/embed/8HtkZEkF29Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>